<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882289075751-66u7vjbbki5kbsg484n9aav9jj0l109o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882289075751-66u7vjbbki5kbsg484n9aav9jj0l109o</string>
	<key>API_KEY</key>
	<string>AIzaSyAqoNQI5DnVclY-qgRGfFPhPyb5-pe6sho</string>
	<key>GCM_SENDER_ID</key>
	<string>882289075751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>td.webuild.khubdeedlt</string>
	<key>PROJECT_ID</key>
	<string>khub-dee-dlt</string>
	<key>STORAGE_BUCKET</key>
	<string>khub-dee-dlt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882289075751:ios:7eb03325bd0cc54e851002</string>
</dict>
</plist>